<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Common Hosting</title>
  </head>
  <body style="margin: auto; background-color: #e1e2ea; max-width: 900px;">
    <div id="app"></div>
  </body>
</html>
